@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-primary: #10b981;
  --color-primary-hover: #059669;
  --color-primary-active: #047857;

  --animate-slide-in: slide-in 0.3s ease-out;
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

@layer base {
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
select {
  @apply outline-none focus:ring-0 focus:outline-none;
}
input::placeholder,
textarea::placeholder {
  @apply text-gray-400;
}

button {
  @apply cursor-pointer;
}
