@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-primary: #10b981;
  --color-primary-hover: #059669;
  --color-primary-active: #047857;
}

@layer base {
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
select {
  @apply outline-none focus:ring-0 focus:outline-none;
}
